body{
    margin: 0;
    height: 100vh;
    font-family: arial;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    }

.card{
    width: 700px;
    padding: 10px;
    border-radius: 20px;
    background-color: plum;
    color: purple;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }
